# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.AutoLotMVC.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\maksi\Desktop\6 семестр\C-Sharp-Practice\AutoLotMVC\.idea\.idea.AutoLotMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
