# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AutoLotConsoleApp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\maksi\Desktop\C-Sharp-Practice\AutoLotConsoleApp\.idea\.idea.AutoLotConsoleApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
